---
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer>
	<span>&copy; {today.getFullYear()} Elaine Y. Shin. All rights reserved.</span>
</footer>
<style>
	footer {
		padding: 2em 1em;
	}

	footer span {
		font-size: 0.66rem;
		color: rgb(var(--gray));
		text-align: center;
		display: block;
	}
</style>
