---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="mobile-menu">
			<div id="mobileMenuToggle">
				<Icon name="material-symbols:menu-rounded" class="menu-icon closed"/>
				<Icon name="material-symbols:close-rounded" class="menu-icon opened"/>
			</div>
			<ul class="mobile-links">
				<li><a href="/">Home</a></li>
				<!-- <li><a href="/blog">Blog</a></li> -->
				<li><a href="/about">About</a></li>
			</ul>
		</div>
		<!-- <div class="social-links">
			<a href="#" target="_blank">
				<Icon name="fa6-brands:linkedin-in" />
			</a>
			<a href="#" target="_blank">
				<Icon name="fa6-brands:instagram" />
			</a>
			<a href="#" target="_blank">
				<Icon name="fa6-brands:linkedin-in" />
			</a>
		</div> -->
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 clamp(40px, 8.3%, 160px);
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		position: relative;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

	.mobile-menu {
		padding: 10px 10px;
		display: none;
		font-size: 1.5rem;
		align-items: center;
		justify-content: center;
	}

	.mobile-menu .closed {
		display: flex;
	}

	.mobile-menu.active .closed {
		display: none;
	}

	.mobile-menu .opened {
		display: none;
	}

	.mobile-menu.active .opened {
		display: flex;
	}

	.mobile-links {
		width: 100%;
		height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		background-color: white;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		transition: all ease-in-out 0.5s;
	}

	.mobile-menu.active .mobile-links {
		height: 438px;
	}

	.mobile-links li:first-child {
		margin-top: 60px;
	}

	.mobile-links li:last-child {
		margin-bottom: 60px;
	}

	.mobile-links li a {
		display: block;
	}


	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.internal-links {
			display: none;
		}

		.mobile-menu {
			display: flex;
		}

		.social-links {
			display: none;
		}
	}
</style>

<script>
	const mobileMenuContainer = document.querySelector(".mobile-menu");
	const toggleButton = document.getElementById("mobileMenuToggle");

	toggleButton.addEventListener("click", () => {
		mobileMenuContainer.classList.toggle("active");
	});
</script>